@model MyLibraryWebApp.ViewModels.FavoritesViewModel

@{
    ViewData["Title"] = "MyFavorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>MyFavorites</h3>


<br />

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Favorite Books
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>



                @foreach (var item in Model.TupleList.Item1)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FullAuthorName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Favorite AudioBooks
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var item in Model.TupleList.Item3)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Favorite Authors
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var item in Model.TupleList.Item2)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullAuthorName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
