@model MyLibraryWebApp.ViewModels.BookEditViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create</h1>

<form method="post">



    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <br />

    <div>
        Genre:
        <select name="Book.Genre.Id">
            @foreach (var item in Model.GenreList)
            {
                <option value="@item.Id">@item.GenreName</option>
            }
        </select>
    </div>
    <br />
    <div>
        Location:
        <select name="Book.Location.Id">
            @foreach (var item in Model.LocationList)
            {
                <option value="@item.Id">@item.LocationName</option>
            }
        </select>
    </div>
    <br />
    <div>
        Author:
        <select name="Book.Author.Id">
            @foreach (var item in Model.AuthorList)
            {
                <option value="@item.Id">@item.FullAuthorName</option>
            }
        </select>
    </div>
    <br />
    <div>
        <label asp-for="YearPublished"></label>
        <input asp-for="YearPublished" />
        <span asp-validation-for="YearPublished"></span>
    </div>
    <br />
    <div>
        Type:
        Book   @Html.RadioButton("Type", "Book")
        AudioBook @Html.RadioButton("Type", "AudioBook")
    </div>
    <br />
    <button type="submit" name="save" value="save">Submit</button>

</form>