@model MyLibraryWebApp.ViewModels.BookEditModel;

@{ Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Book.Title</h2>

<div>Author: @Model.Book.Author.FullAuthorName</div>

<div>Genre: @Model.Book.Genre.GenreName</div>

<div>Year Published: @Model.Book.YearPublished</div>

<br />
<div>

    @*<button type="button" onclick="location.href='@Url.Action("AddToFavorites", "Home")'" />*@

</div>
    <a asp-action="Index" asp-controller="Home">Home</a>


    @*<script>
        $(document).ready(function () {

            $('#addToFavorites').on('click', checkAnswer);

            function checkAnswer() {
                console.log("hello")
            }


        });

    </script>*@
